<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nathanosman.heidelbergreader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Question list activity -->
        <activity
            android:name=".QuestionListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Question detail activity -->
        <activity
            android:name=".QuestionDetailActivity"
            android:label="@string/title_question_detail"
            android:parentActivityName=".QuestionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nathanosman.heidelbergreader.QuestionListActivity" />
        </activity>

        <!-- About activity -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".QuestionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nathanosman.heidelbergreader.QuestionListActivity" />
        </activity>

        <!-- Question service -->
        <service
            android:name=".QuestionService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>